
body{
    margin: 0 ;
    padding: 0;
    width: 100%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-top: 5px solid rgb(75, 194, 184); 
}
.img-capa{
    width: 100%;
    margin: 0 100px ;
}

#capa{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:lightgrey;
}

section > p, h1{
    text-align: justify;
    padding: 0 100px;
}

section > h1{
    font-size: 25px;
}

.linha-centralizada{
    width: 80%;
    margin-left: 100px;
    margin-right: 0px;
}

.menu{
    margin-left: 100px;
}

.menu-caixa{
    margin-bottom: 5px;
}

ol{
    list-style-position: inside;
    padding: 0px 0px 0px 118px;
    font: size 13px;
}

footer > h2{
    padding: 25px;
    font-weight: 900;
    text-align: center;
    font-size: 15px;
}